/* Add Movie Button */
.add-movie__button {
  position: absolute;
  display: flex;
  width: 12%;
  min-width: 140px;
  top: 8%;
  left: 76%;
  padding-top: 0.50rem;
  padding-bottom: 0.50rem;
  padding-left: 0.75rem;
  gap: 0.50rem;
  background-color: #f97316;
  color: white;
  border-radius: 0.35rem;
  cursor: pointer;
  transition: all 0.16s;
}

.add-movie__button:hover {
  background-color: #ea580c;
}

/* Add Movie Modal */
.add-movie__modal {
  display: none;
}

.add-movie__modal--active {
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.add-movie__modal-container {
  width: 100%;
  max-width: 30rem;
  margin: 15% auto;
  padding: 2rem;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 1rem;
}

.add-movie__modal-header {
  margin-bottom: 0.50rem;
  color: black;
}

.add-movie-modal__search {
  height: 2.5rem;
  width: 100%;
  min-width: 200px;
  padding-left: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: white;
  border: 1px solid;
  border-radius: 0.50rem;
  border-color: #e5e7eb;
}

.add-movie-modal__search:focus {
  border-color: #f97316;
  box-shadow: 0 0 0 2px #f973161a;
  outline: none;
}

.add-movie__modal-buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 1rem;
  margin-right: 1rem;
  gap: 1.50rem;
}

.add-movie__modal-add-button {
  padding: 0.35rem;
  height: 2.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: none;
  border-radius: 0.35rem;
  color: white;
  background-color: #f97316;
  cursor: pointer;
  transition: all 0.16s;
}

.add-movie__modal-close-button {
  padding: 0.35rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2.25rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.35rem;
  background-color: white;
  color: #1f2937;
  cursor: pointer;
  transition: all 0.16s;
}

.add-movie__modal-close-button:hover, .add-movie__modal-close:focus {
  background-color: rgb(243, 242, 242);
}

.add-movie__modal-add-button:hover, .add-movie__modal-add:focus {
  background-color: #ea580c;
}