.add-movie__search {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1000;
}

.add-movie__searchbox {
  height: 2.5rem;
  width: 100%;
  min-width: 200px;
  padding-left: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: white;
  border: 1px solid;
  border-radius: 0.50rem;
  border-color: #e5e7eb;
  color: black;
}

.add-movie__searchbox:focus {
  border-color: #f97316;
  box-shadow: 0 0 0 2px #f973161a;
  outline: none;
}

.add-movie__search-result {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: black;
  background-color: green;
  font-family: "Inter-Regular";
  border: 1px solid;
  cursor: pointer;
}

.add-movie__search-result:hover {
  background-color: rgb(243, 243, 243);
}

.search-result-metadata {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.search-result-poster {
  width: 12%;
}

.search-result-title {
  max-width: 60%;
}

.search-result-genre {
  text-overflow: ellipsis;
}

.search-result-year {
  min-width: 4rem;
  margin-right: 1rem;
}

@media (max-width: 480px) {
  .search-result-year {
    margin-left: 1rem;
  }
}