.add-movie__search {
  display: flex;
  flex-direction: column;
}

.add-movie__search-result {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: black;
  font-family: Inter-Regular;
  border: 1px solid;
  cursor: pointer;
}

.add-movie__search-result:hover {
  background-color: rgb(243, 243, 243);
}

.search-result-metadata {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.search-result-poster {
  width: 12%;
}

.search-result-title {
  max-width: 60%;
}

.search-result-genre {
  text-overflow: ellipsis;
}

.search-result-year {
  min-width: 4rem;
  margin-right: 1rem;
}

@media (max-width: 480px) {
  .search-result-year {
    margin-left: 1rem;
  }
}