.add-movie {
  position: relative;
  margin: 0 15%;
  min-width: 50vw;
}

.add-movie__search {
  width: 50vw;
}

.add-movie__input {
  height: 2.5rem;
  width: 100%;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  background-color: #FFF;
  border: 1px solid #e5e7eb;
  border-radius: 0.50rem;
  color: black;
}

.add-movie__input:focus {
  border-color: #f97316;
  box-shadow: 0 0 0 2px #f973161a;
  outline: none;
}

.add-movie__input-clear-button-wrapper {
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  cursor: pointer;
  color: #000;
  border-radius: 50%;
  transition: background-color 0.2s;
}

.add-movie__input-clear-button-wrapper:hover {
  background-color: rgb(240, 240, 240);
}

.add-movie__input-clear-button-wrapper:active {
  background-color: rgb(230, 230, 230);
}

.add-movie__input-clear-button {
  
}

.add-movie__search-loading {
  position: relative;
  height: 60rem;
  background-color: rgb(245, 245, 245, 0.9);
  border: 1px solid black
}

.add-movie__search-loading-spinner {
  position: absolute;
  top: 30%;
  left: 45%;
  width: 100px;
  height: 100px;
  border: 8px solid orange;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: loader-rotation 1s linear infinite;
}

@keyframes loader-rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.add-movie__search-no-results {
  background-color: white;
  border: 1px solid black;
  border-top: none;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-movie__search-no-results-text {
  color: black;
  line-height: normal;
  font-family: "Inter-Regular";
}

.add-movie__results-container {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50vw;
}

.add-movie__search-result {
  position: relative;
  display: flex;
  gap: 1rem;
  color: black;
  background-color: white;
  font-family: "Inter-Regular";
  border: 1px solid;
  cursor: pointer;
  height: 8rem;
}

.add-movie__search-result-wrapper {
  background-color: green;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.add-movie__search-result:hover .add-movie__search-result-wrapper {
  background-color: rgb(243, 243, 243);
  opacity: 20%;
  visibility: visible;
}

.add-movie__search-result-wrapper-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  width: 12rem;
  padding: 1rem;
  margin-left: 40%;
  border: 1px grey solid;
  border-radius: 0.25rem;
  background-color: #000000;
  color: #FFFFFF;
  font-family: "Inter-Regular";
  cursor: pointer;
  visibility: hidden;
  z-index: 100;
}

.add-movie__search-result:hover .add-movie__search-result-wrapper-button {
  visibility: visible;
}

.add-movie__search-result-wrapper-button:active {
  background-color: #FFFFFF;
  color: #000000;
}

.search-result-metadata {
  display: flex;
  align-items: center;
}

.search-result-poster {
  width: 12%;
}

.search-result-genre {
  text-overflow: ellipsis;
}

.search-result-year {
  min-width: 4rem;
  margin-right: 1rem;
  position: absolute;
  right: 0%;
}

@media (max-width: 768px) {
  .search-result-year {
    margin-left: 1rem;
  }

  .add-movie__search {
    display: none;
  }

  
}