.add-movie {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  left: 45%;
}

.add-movie__search {
  min-width: 280px;
  width: 30rem;
}

.add-movie__search-bar {
  display: flex;
  align-items: center;
  height: var(--add-movie-input-height);
  width: 30rem;
}

.add-movie__input-icon {
  color: var(--color);
  position: absolute;
  margin: 1rem;
}

.add-movie__search-icon {
  display: none;
}

.add-movie__input {
  height: var(--add-movie-input-height);
  width: 100%;
  padding: 0.25rem 2.75rem;
  background-color: var(--background-color);
  color: var(--color);
  border: 1px solid #acacad;
  border-radius: 0.50rem;
}

.add-movie__input:focus {
  border-color: #f97316;
  box-shadow: 0 0 0 2px #f973161a;
  outline: none;
}

.add-movie__input-clear-button-wrapper {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
  color: var(--color);
  transition: background-color 0.2s;
}

.add-movie__input-clear-button-wrapper:hover {
  background-color: var(--background-color);
}

.add-movie__input-clear-button-wrapper:active {
  background-color: rgb(230, 230, 230);
}

.add-movie__search-loading-wrapper {
  position: absolute;
  margin: 0.5rem;
  width: 16px;
  height: 16px;
  right: 1.5rem;
}

.add-movie__search-loading-spinner {
  position: absolute;
  right: 1rem;
  width: inherit;
  height: inherit;
  border: 2px solid black;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: loader-rotation 0.8s linear infinite;
}

.add-movie__search-no-results {
  position: absolute;
  width: 100%;
  background-color: white;
  border: 1px solid black;
  border-top: none;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-movie__search-no-results-text {
  color: black;
  line-height: normal;
  font-family: "Inter-Regular";
}

.add-movie__results-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.add-movie__search-result {
  height: 4rem;
  width: 100%;
  position: relative;
  display: flex;
  gap: 1rem;
  color: var(--color);
  background-color: var(--background-color);
  font-family: "Inter-Regular";
  border: 1px solid;
  cursor: pointer;
}

.add-movie__search-result-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  visibility: hidden;
}

.add-movie__search-result:hover .add-movie__search-result-wrapper {
  background-color: rgb(243, 243, 243);
  background-color: green;
  opacity: 20%;
  visibility: visible;
}

.add-movie__search-result-wrapper-button {
  position: absolute;
  align-self: center;
  margin: 30%;
  padding: 0.5rem;
  border: 1px grey solid;
  border-radius: 0.25rem;
  background-color: #000000;
  color: #FFFFFF;
  font-family: "Inter-Regular";
  cursor: pointer;
  visibility: hidden;
  z-index: 100;
}

.add-movie__search-result:hover .add-movie__search-result-wrapper-button {
  visibility: visible;
}

.add-movie__search-result-wrapper-button:active {
  background-color: #FFFFFF;
  color: #000000;
}

.search-result-metadata {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 1rem;
}

.search-result-title {
  overflow: ellipsis;
}

.search-result-genre {
  text-overflow: ellipsis;
}

.search-result-year { 
  justify-self: end;
}

.hidden {
  display: none !important;
}

@media (max-width: 768px) {
  .add-movie {
    transform: none;
    left: auto;
    margin: auto;
    position: relative;
  }

  .add-movie__search {
    width: 10rem;
  }

  .add-movie__input {
    border: 1px solid #e5e7eb;
    border-radius: 0.50rem;
    color: black;
  }

  .add-movie__search-icon {
    display: inline;
    position: fixed;
    right: 1rem;
    top: calc((var(--header-height)/2) - 0.75rem);
  }

  .search-result-year {
    margin-left: 1rem;
  }
}