.error-fallback {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 100%;
  height: 20rem;
  margin: 18% auto;
  color: var(--color);
}

.error-fallback__text {
  font-family: Inter-Bold;
  font-size: large;
}

.error-fallback__button {
  background: none;
  border: 1px grey solid;
  background-color: white;
  border-radius: 0.75rem;
  padding: 0.50rem;
  width: 10%;
  font-size: 1.05rem;
  cursor: pointer;
  transition: all 0.04s;
}

.error-fallback__button:hover {
  background-color: rgb(250, 249, 249);
}