.header {
  position: fixed;
  display: flex;
  padding-left: 5rem;
  align-items: center;
  height: 4rem;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 100;
  background: #FFE433;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.header img {
  height: 50%;
  margin-right: 0.8rem;
  margin-left: 5rem;
}

.header-title {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #000000;
  left: 14rem;
  top: 0.6rem;
  transition: 0.25s;
}

.header-title:hover {
  border-bottom: 2px;
}

.header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
  list-style: none;
  /* or 150% */
  color: #1F2937;
  width: 100%;
}

.header li {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-right: 2rem;
}

.header li:hover {
  color: green;
}

.header a { 
  color: inherit; 
} 

.header button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 1.2em;
  margin-right: 1em;
  font-size: 1em;
  font-weight: 600;
  font-family: 'Segoe UI';
  font-style: normal;
  cursor: pointer;
  transition: border-color 0.16s;
}
.header button:hover {
  border-color: #646cff;
}
.header button:focus,
.header button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.header-login-button {
  color: #2563EB;
  background-color: #FFF;
  font-weight: 500;
}

.header-register-button {
  color: #fff;
  background-color: #2563EB;
  font-weight: 500;
}
.header-register-button:hover {
  border-color: black;
}

.user-area {
  display: flex;
  align-items: center;
  margin-right: 5rem;
}

#header-user-email {
  margin-right: 2rem; 
}