.header {
  position: fixed;
  height: 64px;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 100;

  background: #FFE433;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.header-container {
  position: absolute;
  width: 1536px;
  height: 3.5em;
  left: calc(50% - 1536px/2);
  top: 0px;
}

.h1 {
  position: absolute;
}

.header-title {
  position: absolute;
  height: 1.25em;
  left: 2.5em;
  top: calc(50% - 1.25em/2);

  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.header-container ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  /* or 150% */
  padding-left: 37%;
  padding-top: 1.2%;

  color: #1F2937;
}

li {
  margin-right: 2em;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.nav li:hover {
  color: white;
}


a { 
  color: inherit; 
} 
