.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  min-width: 320px;
  height: 6rem;
  background-color: white;
  box-shadow: 0px 1px 1px rgb(0, 0, 0, 1);
  padding: 1rem 0;
}

.header__container {
  display: flex;
  height: 100%;
  gap: 0.7rem;
  margin: 1rem 1rem;
}

.header__menu {
  position: relative;
  top: 0.60rem;
  cursor: pointer;
}

.header__menu:hover {
  background-color: rgb(240, 240, 240);
}

.header__title {
  font-family: Inter-Regular;
  font-size: 1.875rem;
  font-weight: 700;
}

@media (max-width: 768px) {
  .header__subtitle {
    display: none;
  }

  .header__brand {
    gap: 0.25rem;
  }

  .header__logo-container {
    padding-top: 0.65rem;
  }
}

/* Auth Header */

.auth-header__container {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.auth-header__logo {
  color: black;
  height: 1.75rem;
  width: 2rem;
  transition: all 0.08s;
  padding: 0.1rem;
  margin-top: 0.50rem;
  margin-right: 0.25rem;
  cursor: pointer;
}

.auth-header__title {
  font-family: Inter-Regular;
  font-size: 1.875rem;
  font-weight: 700;
  cursor: pointer;
  margin-left: 1rem;
}