:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  background: linear-gradient(to bottom right, #fff8e1, #ffecb3, #fff8e1);
  z-index: 0;
  background-attachment: fixed;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

input {
  color: black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: Inter-Regular;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;

  color: #1F2937;
}

.loading {
  display: flex;
  width: 80%;
  height: 150%;
  left: 11%;
  top: 12%;
}

.main {
  display: flex;
}

/* --- Fonts --- */

/* Open Sans */
@font-face {
  font-family: OpenSans-Regular;
  src: url(/fonts/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSans-Bold;
  src: url(/fonts/OpenSans/OpenSans-Bold.ttf);
}

/* Inter */
@font-face {
  font-family: Inter-Regular;
  src: url(/fonts/Inter/Inter_18pt-Regular.ttf);
}

@font-face {
  font-family: Inter-Bold;
  src: url(/fonts/Inter/Inter_18pt-Bold.ttf);
}