:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  --font-weight-base: 400;
  --font-stretch-base: 100%;
  --font-style-base: normal;
  --font-optical-sizing-base: auto;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --background-color: #F9FAFB;
  --secondary-background-color: #FFF;
  --color: #213547;
  --secondary-color: #000;
  --border-color: #000;
  --inverse-color: #FFF;

  /* UI Constants */
  --header-height: 4rem;
  --add-movie-input-height: 2.5rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  z-index: 0;
  height: 100%;
  margin: 0;
  background-color: var(--background-color);
  background-attachment: fixed;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

p {
  color: #000;
}

input {
  color: var(--color);
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: Inter-Regular;
  color: #000;
}

h1, h2, h3, p, button {
  color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #FFF;
    --secondary-color: #FFF;
    --inverse-color: #000;
    --background-color: #0A0A0A;
    --secondary-background-color: #222222;
    --border-color: #FFF;
    --highlight-color: rgb(110, 110, 110);
  }
  button {
    background-color: #f9f9f9;
  }
  input {
    color: var(--color);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;

  color: #1F2937;
}

.main {
  position: relative;
  flex-grow: 1;
  background-color: var(--background-color);
  margin-top: calc(var(--header-height) + 2rem);
  width: 100%;
}

.home-page {
  display: grid;
  height: 100vh;
}

.main-content {
  display: flex;
  background: var(--background-color);
  flex-grow: 1;
}

@media (max-width: 768px) {
  .main-content {
    display: flex;
    flex-direction: column;
  }

  .main {
    margin-top: calc(var(--header-height) + 2rem);
  }
}

@keyframes mainContentFadeIn {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.loader-container {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

@keyframes loader-rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.placeholder {
  position: relative;
  font-family: "Inter-Regular";
  font-size: 2rem;
  display: flex;
  justify-content: center; /* Horizontally centers content */
  align-items: center;    /* Vertically centers content */
  height: calc(100vh - var(--header-height));
  color: #000;
}

/* 
--- Fonts --- 
NOTE: Fonts with suffixes such as Lato-Regular should be used as is.
*/

/* Arimo */
@font-face {
  font-family: "Arimo";
  src: url(/fonts/Arimo-VariableFont.ttf) format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-stretch: 100%;
  font-display: swap;
  font-optical-sizing: auto;
}

/* DMSans */
@font-face {
  font-family: "DMSans";
  src: url(/fonts/DMSans-VariableFont.ttf) format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-stretch: 100%;
  font-display: swap;
  font-optical-sizing: auto;
}

/* Inter */
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter-VariableFont.ttf) format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-stretch: 100%;
  font-display: swap;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "Inter-Regular";
  src: url(/fonts/Inter-VariableFont.ttf) format('truetype-variations');
  font-weight: 550;
  font-style: normal;
  font-stretch: 100%;
  font-display: swap;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "Inter-Bold";
  src: url(/fonts/Inter-VariableFont.ttf) format('truetype-variations');
  font-weight: 700;
  font-style: normal;
  font-stretch: 100%;
  font-display: swap;
  font-optical-sizing: auto;
}

/* Lato */
@font-face {
  font-family: "Lato-Regular";
  src: url(/fonts/Lato-Regular.ttf) format('truetype-variations');
}

/* NotoSansJP */
@font-face {
  font-family: "NotoSansJP";
  src: url(/fonts/NotoSansJP-VariableFont.ttf) format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-stretch: 100%;
  font-display: swap;
  font-optical-sizing: auto;
}

/* NunitoSans */
@font-face {
  font-family: "NunitoSans";
  src: url(/fonts/NunitoSans-VariableFont.ttf) format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-stretch: 100%;
  font-display: swap;
  font-optical-sizing: auto;
}

/* Open Sans */
@font-face {
  font-family: "OpenSans";
  src: url(/fonts/OpenSans-VariableFont.ttf) format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-stretch: 100%;
  font-display: swap;
  font-optical-sizing: auto;
}

/* Oswald */
@font-face {
  font-family: "Oswald";
  src: url(/fonts/Oswald-VariableFont.ttf) format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-stretch: 100%;
  font-display: swap;
  font-optical-sizing: auto;
}

/* Poppins */
@font-face {
  font-family: "Poppins-Regular";
  src: url(/fonts/Poppins-Regular.ttf) format('truetype-variations');
}