:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  --font-weight-base: 400;
  --font-stretch-base: 100%;
  --font-style-base: normal;
  --font-optical-sizing-base: auto;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  z-index: 0;
  background-attachment: fixed;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

input {
  color: black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: Inter-Regular;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;

  color: #1F2937;
}

.main {
  display: flex;
  animation: mainContentFadeIn 0.6s ease-in-out forwards;
}

@keyframes mainContentFadeIn {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.loader {
  position: fixed;
  top: 40%;
  right: 50%;
  width: 100px;
  height: 100px;
  border: 7px solid orange;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: loader-rotation 1s linear infinite;
}

@keyframes loader-rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* 
--- Fonts --- 
NOTE: Fonts with suffixes such as Lato-Regular should be used as is.
*/

/* Arimo */
@font-face {
  font-family: "Arimo";
  src: url(/fonts/Arimo-VariableFont_wght.ttf) format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-stretch: 100%;
  font-display: swap;
  font-optical-sizing: auto;
}

/* DMSans */
@font-face {
  font-family: "DMSans";
  src: url(/fonts/DMSans-VariableFont_opsz,wght) format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-stretch: 100%;
  font-display: swap;
  font-optical-sizing: auto;
}

/* Inter */
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter-VariableFont_opsz,wght.ttf) format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-stretch: 100%;
  font-display: swap;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "Inter-Regular";
  src: url(/fonts/Inter-VariableFont_opsz,wght.ttf) format('truetype-variations');
  font-weight: 550;
  font-style: normal;
  font-stretch: 100%;
  font-display: swap;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "Inter-Bold";
  src: url(/fonts/Inter-VariableFont_opsz,wght.ttf) format('truetype-variations');
  font-weight: 700;
  font-style: normal;
  font-stretch: 100%;
  font-display: swap;
  font-optical-sizing: auto;
}

/* Lato */
@font-face {
  font-family: "Lato-Regular";
  src: url(/fonts/Lato-Regular.ttf) format('truetype-variations');
}

/* NotoSansJP */
@font-face {
  font-family: "NotoSansJP";
  src: url(/fonts/NotoSansJP-VariableFont_wght.ttf) format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-stretch: 100%;
  font-display: swap;
  font-optical-sizing: auto;
}

/* NunitoSans */
@font-face {
  font-family: "NunitoSans";
  src: url(/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf) format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-stretch: 100%;
  font-display: swap;
  font-optical-sizing: auto;
}

/* Open Sans */
@font-face {
  font-family: "OpenSans";
  src: url(/fonts/OpenSans-VariableFont_wdth,wght.ttf) format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-stretch: 100%;
  font-display: swap;
  font-optical-sizing: auto;
}

/* Oswald */
@font-face {
  font-family: "Oswald";
  src: url(/fonts/Oswald-VariableFont_wght.ttf) format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-stretch: 100%;
  font-display: swap;
  font-optical-sizing: auto;
}

/* Poppins */
@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-Regular.ttf) format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-stretch: 100%;
  font-display: swap;
  font-optical-sizing: auto;
}