.header {
  position: relative;
  margin: auto;
  width: var(--landing-page-width);
  border: 1px solid black;
  min-width: 320px;
  top: 0;
  z-index: 100;
  height: var(--header-height);
  background-color: var(--background-color);
  box-shadow: 0px 1px 1px #D0D5DD;
  display: flex;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__title {
  font-family: Inter-Regular;
  font-size: 1.8rem;
  color: var(--color);
}

.landing-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  --landing-page-width: 80%;
  background-color: var(--background-color);
}

.landing-page-main {
  height: 100%;
  width: var(--landing-page-width);
  margin: auto;
}

.landing-page-hero {
  color: var(--color);
  background-color: var(--background-color);
  border: 2px solid blue;
  margin: auto 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.landing-page-hero-phrase {
  font-family: "Inter-Regular";
  color: var(--color);
}

.landing-page-hero-button {
  font-family: "Inter-Regular";
  font-size: 1rem;
  padding: 0.8rem 2rem;
  border: transparent;
  border-radius: 0.5rem;
  background-color: #F64C00;
  color: #FFF;
  cursor: pointer;
  transition: opacity 0.16s;
}

.landing-page-hero-button:hover {
  opacity: 90%;
}


.landing-page-features {
  color: var(--color);

}

.landing-page-info {
  color: var(--color);
  
}

.landing-page-footer {
  color: var(--color);
  
}


.landing-page-movies {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  margin-bottom: 1rem;
  gap: 1rem;
  width: 80%;
  place-items: center;
}

.landing-page-movie {
  height: 14rem;
}