.login-container {
  margin: 5% auto;
  padding: 7rem 5rem 4rem 5rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: black;
}

.login-form-header {
  margin-bottom: 1.25rem;
  white-space: nowrap;
}

.login-form label {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}

.login-form input {
  width: 40%;
  border: 1.2rem solid transparent;
  border-radius: 8px; 
  padding-left: 2.5rem;
  padding-top: 0.45rem;
  padding-bottom: 0.25rem;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  min-width: 15rem;
  background-color: white;
  height: 2.5rem;
  border: 1px solid;
  border-radius: 0.50rem;
  border-color: #e5e7eb;
}

.login-form input:hover {
  border-color: #b8b8b8;
}

.login-form input::placeholder {
  font-size: 1rem;
}

.login-button {
  margin-top: 0.25rem;
  padding: 0.3em 1.2em;
  min-width: 15rem;
  height: 2.25rem;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 600;
  font-family: 'Segoe UI';
  font-style: normal;
  cursor: pointer;
  transition: opacity 0.12s;
  color: white;
  background-color: #f57f17;
}

.login-button:hover{
  opacity: 80%;
}

.login-button:active {
  opacity: 60%;
}

.login-messages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  margin-top: 1.75rem;
}

.no-account-message {
  text-align: center;
  color: black;
}

.create-account-message {
  text-align: center;
}

@media (max-width: 480px) {
  .login-messages {
    width: 100%;
  }
}