.modal {
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin-top: calc(var(--main-margin) * -1);
  
  background: black;
  opacity: 70%;
  z-index: 1000;
}

.modal-container {
  position: absolute;
  height: 60vh;
  width: 60vw;
  background-color: var(--background-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: calc(var(--main-margin) * -1);
  z-index: 1001;
  padding: 1rem;
  border-radius: 0.4rem;
}

.modal-header {
  font-family: "Inter-Regular";
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.modal-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, (10%, 1fr));
  
}

.modal-module {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 200px;
}

.modal-label {
  margin-bottom: 0.25rem;

}

/* Modules */

.modal-textbox {
  width: 100%;
  
}

.modal-button {
  width: 30%;
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
  color: var(--color);
  border: 1px grey solid;
  border-radius: 0.25rem;
  background-color: var(--background-color);
  color: var(--color);
  font-family: "Inter-Regular";
  cursor: pointer;
  transition: color 0.16s;
  transition: background-color 0.16s;
}

.modal-button:hover {
  color: var(--background-color);
  background-color: var(--color);
}