.movie-card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 28rem;
  width: 14rem;
  border-radius: 1rem;
  border: 1px solid gray;
  margin-bottom: 1rem;
  transition: transform 0.2s;
}

.movie-card:hover {
  transform: scale(1.01);
}

.movie-card-actions-button {
  position: absolute;
  top: 0.50rem;
  right: 0.50rem;
  z-index: 1;
  background-color: white;
  border: 0.04rem grey solid;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.08s;
}

.movie-card-actions {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: green;
}

.movie-card-actions-button:hover {
  background-color: rgb(241, 241, 241);
}

.movie-card-actions-items {
  display: none;
}

.movie-card-actions-items.active {
  
  display: flex;
}

.movie-card-favorite-wrapper {
  display: flex;
  flex-direction: column;
  align-self: start;
  background-color: #ffffffe6;
  border-radius: 0.375rem;
  margin: 14.5rem 0.50rem;
  cursor: pointer;
}

.movie-card-favorite-wrapper:hover {
  background-color: white;
}

.movie-card-favorite-wrapper.active {
  background-color: red;
}

.movie-card-favorite-wrapper.active:hover {
  background-color: rgb(230, 3, 3);
}

.movie-card-favorite-icon {
  
}

.movie-card-favorite-icon.active {
  fill: white;
  stroke-width: 0;
}

.movie-card-delete-wrapper {
  display: flex;
  align-self: end;
  background-color: #ffffffe6;
  margin: 14.5rem 0.50rem;
  border-radius: 0.375rem;
  cursor: pointer;
}

.movie-card-delete-wrapper:hover {
  background-color: white;
}

.movie-card-delete-icon {
  
}

.movie-card-delete-icon:hover {
  fill: red;
}

.movie-card__image {
  width: 100%;
  height: 65%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  object-fit: fill;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10+ */
  user-select: none;         /* Standard */
}

.movie-card__title {
  font-family: Inter-Bold;
  font-size: 0.95rem;
  color: black;
  align-self: start;
  margin-left: 0.75rem;
  margin-top: 0.50rem;
}

.movie-card__metadata {
  display: flex;
  flex-direction: column;
  margin-top: 0.65rem;
  margin-left: 0.75rem;
  align-self: start;
  color: rgb(58, 58, 58);
  gap: 0.5rem;
  max-width: 95%;
}

.movie-card__year {
  display: flex;
  font-family: "Inter-Regular";
  font-size: 0.85rem;
  margin-bottom: 0.50rem;
}

.movie-card__calendar {
  padding-left: 0.25rem;
  padding-bottom: 0.6rem;
  margin-right: 0.25rem;
}

.movie-card__genres {
  display: flex;
  flex-wrap: wrap;
  gap: 0.50rem;
}

.movie-card__genre {
  background-color: #EBEBEB;
  padding: 0.2rem 0.55rem;
  border-radius: 0.25rem;
  
  color: #0A0A0A;
  font-size: 0.75rem;
}

.movie-card__mask {
  padding-left: 0.25rem;
  padding-bottom: 0.7rem;
  margin-right: 0.125rem;
}

@media (max-width: 720px) {
  .movie-card {
    width: 10rem;
    height: 20rem;
  }

  .movie-card__title {
    font-size: 0.9rem;
  }
  
  .movie-card__year {
    font-size: 0.8rem;
  }
  
  .movie-card__genre {
    font-size: 0.8rem;
  }

  .add-movie-card {
    width: 10rem;
    height: 20rem;
  }
}

.add-movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 28rem;
  width: 14rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: solid 1px;
  padding: 1rem;
  background-color: white;
  transition: transform 0.2s;
  cursor: pointer;
}

.add-movie-card:hover {
  
}

.add-movie-card-button {
  color: white;
  background-color: #f97316;
  border-radius: 2rem;
  margin-bottom: 1rem;
  padding: 0.20rem;
}

.add-movie-card-text {
  font-size: 1.125rem;
  font-weight: 600;
  text-align: center;
  color: #1f2937;
  margin-bottom: 0.5rem;
  transition: color 0.3s;
}

.add-movie-card-subtext {
  font-size: .875rem;
  color: #6b7280;
  margin: 0;
  text-align: center;
}