.movie-card{
  margin-left: 40%;
}

.movie-title {
  font-family: open-sans-italic;
  margin-left: 10px;
  margin-bottom: none;
}

hr {
  margin-left: 10px;
  border: none;
  height: 2px;
  background-color: #3378b8;
}

h4 {
  font-family: open-sans;
  margin-left: 10px;
}

.movie-description {
  font-weight: bold;
}

.movie-image {
  margin-left: 10%;
  margin-bottom: 20px;
}

@font-face {
  font-family: open-sans;
  src: url(/fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: open-sans-italic;
  src: url(/fonts/OpenSans-BoldItalic.ttf);
}