.movie-container {
  border-style: solid;
  border-color: #010101;
  margin-left: 13%;
  margin-top: 3%;
  width: 70%;
  padding-left: 1%;
  padding-bottom: 2%;
}

.list-name {
  padding-top: 1%;
}

.movie-image {
  border: 3px solid darkblue;
  width: 50%;
  margin-top: 5%;
}

.movie-node {  
  display: inline-block;
  text-align: center;
  color: black;
  margin-top: 1%;
}

.movie-title {
  color: darkred;
  font-size: 0.9em;
}

.movie-user-rating {
  color: green;
}

p {
  color: darkblue;
  font-family: opensans-bold;
}

@font-face {
  font-family: opensans-bold;
  src: url(/fonts/OpenSans-Bold.ttf);
}