.list-container {
  --list-grid-width: 70%;
}

.list-container__grid {
  position: relative;
  display: grid;
  grid-auto-rows: auto 1fr;
  margin: auto;
  width: var(--list-grid-width);
}

.list-container__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-return-button {
  color: var(--color);
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  z-index: 20;
  top: 5%;
  left: 0;
}

.list-return-button-icon {
  position: sticky;
}

.list-container__metadata {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: "Poppins-Regular";
  color: var(--color);
}

.list-return-button-text {
  color: var(--color);
  position: relative;
}

.list-container__list-name {
  font-family: "NunitoSans";
  color: var(--color);
}

.list-container__movie-count {
  color: var(--color);
}

.movie-actions {
  position: fixed;
  place-self: center;
  display: flex;
  width: var(--list-grid-width);
  background-color: var(--secondary-background-color);
  padding: 0.8rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  bottom: 0;
  border: solid 1px var(--border-color);
  transition: height 0.3s;
  z-index: 200;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-template-rows: min-content;
  column-gap: 0.5rem;
  margin-bottom: 4rem;
}

.no-movies {
  margin-top: 20vh;
  width: 100%;
  position: relative;
}

.no-movies-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: var(--background-color);
}

.no-movies-icon {
  color: var(--color);
  margin-bottom: 1rem;
}

.no-movies-text {
  color: var(--color);
  margin-bottom: 1rem;
  font-family: "Inter-Regular";
  font-size: 1.2rem;
}

.no-movies-search-button {
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
  color: var(--color);
  padding: 0.65rem 3.5rem;
  position: relative;
  margin-top: 1rem;
  border: 1px grey solid;
  border-radius: 0.25rem;
  background-color: var(--background-color);
  font-family: "Inter-Regular";
  cursor: pointer;
  transition: color 0.16s;
  transition: background-color 0.16s;
}

.no-movies-search-button:hover {
  color: var(--background-color);
  background-color: var(--color);
}

.no-movies-clear-filters-button {
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
  color: var(--color);
  padding: 0.65rem 3.5rem;
  position: relative;
  margin-top: 1rem;
  border: 1px grey solid;
  border-radius: 0.25rem;
  background-color: var(--background-color);
  color: var(--color);
  font-family: "Inter-Regular";
  cursor: pointer;
  transition: color 0.16s;
  transition: background-color 0.16s;
}

.no-movies-clear-filters-button:hover {
  color: var(--color);
  background-color: var(--background-color);
}

@media (max-width: 768px) {
  .list-container {
    height: auto;
  }

  .list-return-button-icon {
    width: 30px;
    height: 30px;
  }

  .list-return-button-text {
    display: none;
  }

  .movie-grid {
    place-items: center;
  }

  .movie-actions {
    width: 100%;
    display: none;
  }
}