.movie-list-selector {
  position: relative;
  margin: auto;
  width: 80%;
}

.movie-list-selector-title {
  color: var(--color);
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.movie-list-grid {
  display: grid;
  grid-auto-rows: auto;
  width: 100%;
  margin: auto;
}

.movie-list-card {
  color: var(--color);
  height: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  border: 1px solid var(--color);
  margin-top: -1px;
  padding: 0.5rem 1rem;
  transition: box-shadow 0.16s;
  transition: background-color 0.16s;
  cursor: pointer;
}

.movie-list-card:hover {
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.1);
  background-color: #3a699948;
}

.movie-list-name {
  color: var(--color);
  font-family: "Inter-Bold";
  font-size: 1.3rem;
}

.movie-list-movie-count {
  color: var(--color);
  font-family: "Inter-Regular";
}

.movie-list-tags {
  display: flex;
  gap: 0.5rem;
  font-family: "Inter-Regular";
}

.movie-list-tag {
  background-color: #EBEBEB;
  padding: 0.25rem 0.6rem;
  border-radius: 0.25rem;
  color: #0A0A0A;
  font-size: 0.75rem;
  padding: 0.5rem 0.25;
}

.movie-list-description {
  color: var(--color);
}

@media (max-width: 768px) {
  .movie-list-grid {
    display: flex;
    flex-direction: column;
  }

  

  .movie-list-description {
    display: none;
    
  }
}