.movie-container {
  border-style: solid;
  border-color: #010101;
  margin-left: 17%;
  margin-top: 3%;
  color: red;
  width: 70%;
  padding-left: 1%;
  padding-bottom: 2%;
}

.movie-image {
  border-style: none;
  border: 3px solid white;
  height: 60%;
  width: 60%;
  margin-right: 5%;
  margin-top: 5%;
}

.movie-node {  
  display: inline-block;
  text-align: center;
  color: black;
}

.movie-title {
  color: white;
  
}

.movie-user-rating {
  color: green;
}

p {
  color: #fdfdfd;
  padding-top: 1%;
  font-size: 120%; 
}

