.movie-list-selector {
  position: relative;
  display: grid;
  margin: auto;
  width: 80%;
  margin-top: 2rem;
}

.movie-list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 3rem;
}

.movie-list-card {
  display: flex;
  flex-direction: column;
  min-height: 15rem;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  transition: box-shadow 0.16s;
}

.movie-list-card:hover {
  box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.05);
}

.movie-list-metadata {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.movie-list-name-and-count {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  color: #000;
}

.movie-list-name {
  font-family: "Inter-Bold";
  font-size: 1.3rem;
}

.movie-list-movie-count {
  font-family: "Inter-Regular";
  
}

.movie-list-tags {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  gap: 0.5rem;
  margin-top: 1rem;
  font-family: "Inter-Regular";
}

.movie-list-tag {
  background-color: #EBEBEB;
  padding: 0.25rem 0.6rem;
  border-radius: 0.25rem;
  color: #0A0A0A;
  font-size: 0.75rem;
  padding: 0.5rem 0.25;
}

.movie-list-description {
  margin-top: 1rem;
  color: #000;
}

.movie-list-button {
  position: relative;
  height: 10%;
  width: 90%;
  margin-top: auto;
  padding: 1rem;
  bottom: 4%;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px grey solid;
  border-radius: 0.25rem;
  background-color: white;
  color: black;
  font-family: "Inter-Regular";
  cursor: pointer;
  transition: color 0.16s;
  transition: background-color 0.16s;
}

.movie-list-button:hover {
  background-color: #000;
  color: white;
}