.movie-container {
  /*
  border-style: solid;
  border-color: #010101;
  
  */
  border-radius: 12px;
  background: #EFF6FF;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);

  margin-left: 5%;
  margin-top: 3%;
  width: 80rem;
  padding-left: 1%;
  padding-bottom: 2%;
}

.list-name {
  left: 0px;
  top: 0px;
  padding-top: 1%;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #1F2937;
  
}

.movie-image {
  border: 3px solid darkblue;
  width: 50%;
  margin-top: 5%;
}

.movie-node {  
  display: inline-block;
  text-align: center;
  color: black;
  margin-top: 1%;
}

.movie-title {
  color: darkred;
  font-size: 0.9em;
  padding-right: 3rem;
  padding-left: 3rem;
}

.movie-user-rating {
  color: green;
}

p {
  color: darkblue;
  font-family: opensans-bold;
}

@font-face {
  font-family: opensans-bold;
  src: url(/fonts/OpenSans-Bold.ttf);
}