.movie-card {
  position: relative;
  transition: transform 0.2s;
  cursor: pointer;
  margin-bottom: 2rem;
}

.movie-card-details {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  opacity: 0%;
  
}

.movie-card:hover .movie-card-details { 
  opacity: 100%;
}

.movie-card__image-container {
  height: fit-content;
  width: fit-content;
}

.movie-card__image {
  height: auto;
  width: 100%;
  object-fit: fill;
  aspect-ratio: 3/5;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10+ */
  user-select: none;         /* Standard */
}

.movie-card-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--color);
  opacity: 0%;
  transition: opacity 0.08s;
}

.movie-card:hover .movie-card-overlay { 
  opacity: 80%;
}

.movie-card__metadata {
  display: flex;
  flex-direction: column;
  padding: 0.65rem 0.75rem;
  align-self: start;
  gap: 0.5rem;
  height: 100%;
  z-index: 1;
}

.movie-card__title {
  font-family: "Inter-Bold";
  font-size: 0.95rem;
  color: var(--inverse-color);
  align-self: start;
  margin: 0;
}

.movie-card__year {
  display: flex;
  font-family: "Inter-Regular";
  font-size: 0.85rem;
  margin-bottom: 0.50rem;
}

.movie-card__year-text {
  color: var(--inverse-color);
}

.movie-card__plot {
  color: var(--inverse-color);
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.movie-card__genres {
  display: flex;
  flex-wrap: wrap;
  gap: 0.50rem;
  width: 80%;
  bottom: 0;
}

.movie-card__genre {
  background-color: #EBEBEB;
  padding: 0.2rem 0.55rem;
  border-radius: 0.25rem;
  
  color: #0A0A0A;
  font-size: 0.75rem;
}

.movie-card__mask {
  padding-left: 0.25rem;
  padding-bottom: 0.7rem;
  margin-right: 0.125rem;
}

.secondary {
  color: black; 
  text-overflow: ellipsis;
}


.movie-card-actions-button {
  position: absolute;
  top: 0.50rem;
  right: 0.50rem;
  z-index: 1;
  background-color: white;
  color: var(--color);
  border: 0.04rem grey solid;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.08s;
}

.movie-card-actions-button:hover {
  background-color: rgb(241, 241, 241);
}

.movie-card-actions-items {
  display: none;
}

.movie-card-actions-items.active { 
  display: flex;
}

.movie-card-favorite-wrapper {
  display: flex;
  flex-direction: column;
  align-self: start;
  background-color: #ffffffe6;
  border-radius: 0.375rem;
  margin: 14.5rem 0.50rem;
  cursor: pointer;
}

.movie-card-favorite-wrapper:hover {
  background-color: white;
}

.movie-card-favorite-wrapper.active {
  background-color: red;
}

.movie-card-favorite-wrapper.active:hover {
  background-color: rgb(230, 3, 3);
}

.movie-card-favorite-icon {
  
}

.movie-card-favorite-icon.active {
  fill: white;
  stroke-width: 0;
}

.movie-card-delete-wrapper {
  display: flex;
  align-self: end;
  background-color: #ffffffe6;
  margin: 14.5rem 0.50rem;
  border-radius: 0.375rem;
  cursor: pointer;
}

.movie-card-delete-wrapper:hover {
  background-color: white;
}

.movie-card-delete-icon {
  
}

.movie-card-delete-icon:hover {
  fill: red;
}

@media (max-width: 768px) {
  .movie-card__title {
    font-size: 0.9rem;
  }
  
  .movie-card__year {
    font-size: 0.8rem;
  }
  
  .movie-card__genre {
    font-size: 0.8rem;
  }
}