.sidebar {
  margin-top: 1rem;
  margin-left: 0.75rem;
  width: 12%;
  min-width: 200px;
  max-width: 250px;
  height: 45em;
  border-radius: 1.10rem;
  /*box-shadow: #ff5e62;*/
  background: green;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    margin-left: 0;
  }
}

.sidebar__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.sidebar__label {
  font-family: Inter-Bold;
  color: white;
  font-size: 150%;
  margin-top: 0.50rem;
  margin-bottom: 1.25rem;
}

.sidebar__chevron {
  width: 20%;
  position: relative;
  left: 93%;
  top: 45%;
  background-color: white;
  border-radius: 5rem;
  cursor: pointer;
  transition: opacity transform 0.08s;
  -webkit-user-drag: none;
}

.sidebar__chevron-left:hover {
  opacity: 90%;
  transform: scaleX(-1);
}

.sidebar__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  border-style: none;
  background-color: white;
  border-radius: 0.50rem;
  height: 3rem;
  width: 12rem;
  margin-bottom: 0.75rem;
  transition: 0.08s;
  cursor: pointer;
}

.sidebar__item:hover {
  opacity: 90%;
}

.sidebar__item:active {
  opacity: 80%;
}

.sidebar__item-label {
  font-family: Inter-Regular;
  color: black;
  margin-left: 0.50rem;
}

.sidebar__item-icon {
  margin-left: 1rem;
  margin-right: 0.50rem;
  width: 10%;
}

.sidebar__add-item {
  display: flex;
  justify-content: center;
  background: radial-gradient(circle, #ff9966, #ff5e62);
  border-radius: 0.50rem;
  height: 3rem;
  width: 12rem;
  cursor: pointer;
  transition: opacity 0.16s;
  
}

.sidebar__add-item:hover {
  opacity: 90%;
}

.sidebar__add-item:active {
  opacity: 80%;
}

.sidebar__add-item-plus-sign {
  width: 16%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}