.sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 0.75rem;
  width: 14%;
  height: 45em;
  border-style: solid;
  border-radius: 0.50rem;
}

.sidebar__container-label {
  font-family: Inter-Bold;
  color: black;
  font-size: 150%;
  margin-top: 0.50rem;
  margin-bottom: 1.25rem;
}

.sidebar__container-add-list-item {
  border-style: solid;
  border-radius: 0.50rem;
  height: 3rem;
  width: 15rem;
}