.sidebar {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: var(--header-height);
  height: calc(100vh - var(--header-height));
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 1);
  background: var(--background-color);
  transition: all 0.26s ease-in;
  z-index: 99;
}

.hidden {
  transform: translateX(-100%);
  margin-left: -10%;
  transition: all 0.26s ease-out;
}

.sidebar__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
}

.sidebar__label {
  font-family: "Inter-Regular";
  color: black;
  margin-left: 0.8rem;
}

.sidebar__icon {
  margin-left: 1rem;
}

.sidebar__item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: start;
  background: var(--background-color);
  height: 4rem;
  width: 15rem;
  border: transparent;
  transition: width translate 0.26s ease-in;
  color: #000;
  cursor: pointer;
}

.sidebar__item:hover {
  background-color: rgb(243, 242, 242);
}

.selected {
  background-color: rgb(185, 241, 248);
}

.selected:hover {
  background-color: rgb(133, 232, 245);
} 

.sidebar__item-label {
  font-family: Inter-Regular;
  color: black;
  margin-left: 0.5rem;
  margin-bottom: 0.25rem;
}

.sidebar__item-icon {
  margin-left: 1rem;
  margin-right: 0.50rem;
  width: 10%;
}

@media (max-width: 768px) {
  .sidebar, .sidebar.hidden {
    display: flex;
    position: fixed;
    height: auto;
    width: 100vw;
    border-bottom: 1px black solid;
    box-shadow: none;
  }

  .hidden {
    transform: translateY(-150%);
    margin-left: 0;
    border-bottom: none;
    transition: width translate 0.26s ease-out;
  }

  .sidebar__list {
    flex-wrap: nowrap;
  }

  .sidebar__item {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}