.sidebar {
  position: relative;
  margin-top: 1rem;
  margin-left: 0.75rem;
  width: 12%;
  min-width: 200px;
  max-width: 250px;
  height: 45em;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 1);
  transition: all 0.5s ease-in-out;
  background-color: orange;
}

.sidebar--hidden {
  position: relative;
  margin-top: 1rem;
  margin-left: 0.75rem;
  float: right;
  width: 10%;
  min-width: 200px;
  max-width: 250px;
  height: 45em;
  transform: translateX(-90%);
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 1);
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
  background-color: orange;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    margin-left: 0;
  }
}

.sidebar__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.sidebar__label {
  font-family: Inter-Bold;
  color: black;
  font-size: 150%;
  margin-top: 0.50rem;
  margin-bottom: 1.25rem;
}

.sidebar__chevron {
  width: 18%;
  position: relative;
  left: 93%;
  top: 9%;
  background-color: white;
  border-radius: 5rem;
  cursor: pointer;
  transition: transform 0.08s;
  -webkit-user-drag: none;
}

.sidebar__chevron--closed {
  width: 18%;
  position: relative;
  left: 93%;
  top: 9%;
  background-color: white;
  border-radius: 5rem;
  cursor: pointer;
  transition: transform 0.08s;
  -webkit-user-drag: none;
  transform: scaleX(-1);
}

.sidebar__chevron:hover {
  background-color: rgb(235, 235, 235);
}

.sidebar__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  border-style: none;
  background-color: white;
  border-radius: 0.50rem;
  height: 3rem;
  width: 12rem;
  margin-bottom: 0.75rem;
  transition: 0.08s;
  cursor: pointer;
}

.sidebar__item:hover {
  background-color: rgb(243, 242, 242);
}

.sidebar__item-label {
  font-family: Inter-Regular;
  color: black;
  margin-left: 0.50rem;
}

.sidebar__item-icon {
  margin-left: 1rem;
  margin-right: 0.50rem;
  width: 10%;
}

.sidebar__add-item {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 0.50rem;
  height: 3rem;
  width: 12rem;
  cursor: pointer;
  transition: opacity 0.16s;
}

.sidebar__add-item:hover {
  background-color: rgb(243, 242, 242);
}

.sidebar__add-item-plus-sign {
  width: 16%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(128deg) brightness(0%) contrast(103%);
}

.sidebar__item--disabled {
  display: none;
}

.sidebar__add-item--disabled {
  display: none;
}