.sidebar {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 6rem;
  min-width: 250px;
  height: calc(100vh - 6rem);
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 1);
  transition: min-width 0.26s ease-in;
}

.hidden {
  min-width: 0px;
  max-width: 0px;
  transition: min-width 0.26s ease-out;
}

.sidebar__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.sidebar__label {
  font-family: "Inter-Regular";
  color: black;
  margin-left: 0.8rem;
}

.sidebar__icon {
  margin-left: 1rem;
}

.sidebar__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  border-style: none;
  background: white;
  height: 4rem;
  transition: 0.08s;
  cursor: pointer;
}

.sidebar__item:hover {
  background-color: rgb(243, 242, 242);
}

.sidebar__item {
  display: flex;
  position: relative;
  align-items: center;
  border-style: none;
  height: 4rem;
  transition: 0.08s;
  cursor: pointer;
}

.selected {
  background-color: rgb(185, 241, 248);
}

.selected:hover {
  background-color: rgb(192, 255, 214);
} 

.sidebar__item-label {
  font-family: Inter-Regular;
  color: black;
  margin-left: 0.5rem;
  margin-bottom: 0.25rem;
}

.sidebar__item-icon {
  margin-left: 1rem;
  margin-right: 0.50rem;
  width: 10%;
}

@media (max-width: 768px) {
  .sidebar, .sidebar.hidden {
    display: none;
  }
}