.user-auth {
  display: flex;
  position: absolute;
  right: 7%;
  align-items: end;
  gap: 1rem;
}

.user-auth__login-button, .user-auth__logout-button {
  display: flex;
  align-items: center;
  background: #fff;
  color: #f57f17;
  border: none;
  transition: box-shadow 0.3s ease, transform 0.5s ease;
  font-weight: 500;
}

.user-auth__register-button {
  display: flex;
  align-items: center;
  background: #333;
  color: #fff;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  border-radius: 0.25rem;
  font-weight: 500;
}

.user-auth__login-icon {
  margin-right: 0.5rem;
}

.user-auth__register-icon {
  margin-right: 0.5rem;
}

.user-auth__logged-in {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-auth__profile {
  display: flex;
}

.user-auth__icon {
  margin-right: 0.6rem;
}

.user-auth__email {
  margin-right: 2rem;
  font-weight: 600;
}

@media (max-width: 480px) {
  .user-auth {
    margin-right: 0;
  }

  .user-auth__register-button {
    display: none;
  }

  .user-auth__login-icon {
    margin-right: 0.5rem;
    margin-left: 0;
  }

}