.user-auth {
  position: absolute;
  width: 100%;
  display: flex;
  gap: 1rem;
  bottom: 5%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-auth button {
  border-radius: 8px;
  padding: 0.3rem 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: "OpenSans";
  cursor: pointer;
  line-height: 1.5rem;
  width: 12rem;
  transition: border-color 0.16s;
}

.user-auth__login-button, .user-auth__logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-color);
  color: #f57f17;
  border: 1px grey solid;
  transition: box-shadow 0.3s ease, transform 0.5s ease;
  font-weight: 500;
}

.user-auth__register-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
  color: #fff;
  border: 1px solid transparent;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  border-radius: 0.25rem;
  font-weight: 500;
}

.user-auth__login-icon {
  margin-right: 0.5rem;
}

.user-auth__register-icon {
  margin-right: 0.5rem;
}

.user-auth__logged-in {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  gap: 1rem;
  align-items: center;
}

.user-auth__profile {
  display: flex;
}

.user-auth__icon {
  margin-right: 0.5rem;
}

.user-auth__email {
  margin-right: 2rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .user-auth {
    display: none;
  }
}